<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper Analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <i class="fa-solid fa-user-tie"></i>
            <p>Question Paper Analysis</p>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="pdfFile" accept=".pdf" multiple>
            <label for="file">
                <i class="fa-solid fa-file-import"></i>
                Upload PDF files
            </label>
            <button type="submit">Submit</button>
        </form>
        <!-- Display the result -->
        {% if result %}
            <p>{{ result }}</p>
        {% endif %}
    </div>
</body>
</html>
